body {
  font-family: "Roboto", "Helvetica Neue", "Arial",sans-serif;
  font-size: 10pt;
  margin: 0;
}

#navbar {
  text-align: right;
  padding: 20px 10px 0 0;
  align-items: center;
  margin-right: 50px;
}

#navbar > a {
  color: rgb(43, 40, 40);
  font-weight: 300;
  text-decoration: none;
  margin-right: 30px;
}

#navbar > a:hover {
  border-bottom: 1px solid;
  transition: 0.6s;
}

#navbar > i {
  margin-right: 30px;
  cursor: pointer;
}

.img-profile {
  border-radius: 100%;
  position: absolute;
  left: 96%;
  bottom: 94%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.container-logo {
  height: 130px;
  text-align: center;
}

.container-logo img {
  height: 100px;
  margin-top: 100px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-top: 100px;
}

.input-search {
  padding-left: 20px;
  padding-top: 3px;
}
  
.searchbar > input {
  margin: auto;
  border-radius: 30px;
  border: 2px solid #b7b7b7;
  width: 500px;
  height: 30px;
}

.btn-search {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.btn-search > button {
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px 16px;
  margin: 11px 14px;
  height: 36px;
  border: none;
  background-color: #f8f9fa;
}

.container-text {
  display: flex;
  justify-content: center;
  color: #969a9c;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 10px;
  align-items: center;
}

.container-text > p {
  margin-right: 5px;
}

.container-text > a {
  margin-right: 5px;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #70757a;
  background-color: #f8f9fa;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.separador {
  border: none;
  height: 1px;
  background: #dddddd;
  margin: auto;
}

.pais {
  height: 38.6px;
}
.pais > p {
  padding: 15px 30px;
  margin: 0;
}

#footer-down {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.right > a {
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  top: 28%;
  color: #70757a;
}

.right > a:hover {
  border-bottom: 1px solid;
  transition: 0.6s;
}

.left > a {
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  top: 28%;
  color: #70757a;
}

.left > a:hover {
  border-bottom: 1px solid;
  transition: 0.6s;
}

footer > .footer-section {
  display: none;
}

.img-profile {
  border-radius: 100px;
  width: 35px;
  height: 35px;
}


@media screen and (min-width: 480px) {

  .container-logo img#logo {
    height: 120px;
  }

  .searchbar input {
    width: 300px;
  }

 

}

@media screen and (min-width: 768px) {
  .container-logo img#logo {
    height: 90px;
  }

  .searchbar input {
    width: 540px;
    height: 35px;
  }

  
  
}
